# Assignment

# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
# Using string slicing method we can reverse a string
my_string = "Sayantan"
reverse_string = my_string[::-1]
print(f"My string is '{my_string}' and reverse string is '{reverse_string}'")

My string is 'Sayantan' and reverse string is 'natnayaS'

2. Check if a string is a palindrome.

In [2]:
# A string is palindrome when it's forward and baclward strings are same
print("-----Checking String is Palindrome or not------")
print()
# Taking string from user.
my_string_2 = input("Enter a String: ");
reverse_string_2 = my_string_2[::-1];

# checking string is palindrome or not using conditional statement (if..else)
if(my_string_2.lower() == reverse_string_2.lower()):
    print(f"Given string '{my_string_2}' is a palindrome string")
else:
    print(f"Given string '{my_string_2}' is not a palindrome string")

-----Checking String is Palindrome or not------

Enter a String:  12321

Given string '12321' is a palindrome string

3. Convert a string to uppercase

In [3]:
# Using upper() method we can convert a string to uppercase
print("-----Convert a String to Uppercase------")
print()

# Taking a string from user.
my_string_3 = input("Enter a string: ")
uppercase_string = my_string_3.upper()

# print the result
print(f"Given string is '{my_string_3}'. Converted to uppercase :--> '{uppercase_string}'")

-----Convert a String to Uppercase------

Enter a string:  india

Given string is 'india'. Converted to uppercase :--> 'INDIA'

4. Convert a string to lowercase.

In [4]:
# Using lower() method we can convert a string to uppercase
print("-----Convert a String to lowercase------")
print()

# Taking a string from user.
my_string_4 = input("Enter a string: ")
lowercase_string = my_string_4.lower()

# print the result
print(f"Given string is '{my_string_4}'. Converted to lowercase :--> '{lowercase_string}'")

-----Convert a String to lowercase------

Enter a string:  INDIA

Given string is 'INDIA'. Converted to lowercase :--> 'india'

5. Count the number of vowels in a string.

In [5]:
# Using for loop we can iterate over the string and check, if there is a vowel , then we can store it's count
print("-----Count the number of vowels in a string------ ")
print()

# take string from user.
my_string_5 = input("Enter a String: ")

# take a count variable to count our vowels and set its initial value to 0
count = 0;

# using for loop to iterate over the string
for i in range(len(my_string_5)):
    if(my_string_5[i].lower() == "a" or my_string_5[i].lower() == "e" or my_string_5[i].lower() == "i" or my_string_5[i].lower() == "o" or my_string_5[i].lower() == "u"):
        count += 1

print(f"There are {count} vowels in '{my_string_5}'")

-----Count the number of vowels in a string------

Enter a String:  india

There are 3 vowels in 'india'

6. Count the number of consonants in a string.

In [6]:
# Using for loop we can iterate over the string and check
print("-----Count the number of consonants in a string------ ")
print()

# take string from user.
my_string_6 = input("Enter a String: ")

# take a count variable to count our consonants and set its initial value to 0
count = 0;
count_consonant = 0

# using for loop to iterate over the string
for i in range(len(my_string_6)):
    if(my_string_6[i].lower() == "a" or my_string_6[i].lower() == "e" or my_string_6[i].lower() == "i" or my_string_6[i].lower() == "o" or my_string_6[i].lower() == "u"):
        count += 1
    else:
        count_consonant +=1

print(f"There are {count_consonant} consonants in '{my_string_6}'")

-----Count the number of consonants in a string------

Enter a String:  india

There are 2 consonants in 'india'

7. Remove all whitespaces from a string.

In [7]:
# Using replace() method we can remove whitespaces from a string.
print("-----Remove Whitespaces from a string------")
print()

# taking string from user
my_string_7 = input("Enter a String with some spaces or write a sentence :  ");
removing_whitespace = my_string_7.replace(" ","");

# print result
print(f"Your sentence is '{my_string_7}' and your result is :---> '{removing_whitespace}'")

-----Remove Whitespaces from a string------

Enter a String with some spaces or write a sentence :   Remove Whitespaces from a string

Your sentence is 'Remove Whitespaces from a string' and your result is :---> 'RemoveWhitespacesfromastring'

8. Find the length of a string without using the `len()` function.

In [8]:
# Here we can use for loop to iterate over the string. And take a count variable to increase number or of count by +1
print("-----Find length of a string without using len() method----")
print()

# take string from user.
my_string_8 = input("Enter a string: ")

# take a count variable and set its initial value to 0;
count = 0;

# using for loop to iterate over the string
for i in range(len(my_string_8)):
    count += 1;

# print the result
print(f"Your given string is '{my_string_8}' and it's length is {count}")

-----Find length of a string without using len() method----

Enter a string:  Find length of a string without using len() method

Your given string is 'Find length of a string without using len() method' and it's length is 50

9. Check if a string contains a specific word.

In [9]:
# Using find method we can find a specific word
print("-----Find a specific word in given sentence-----")
print()
# here i define a stirng
# my_string_9 = "I love football"
my_string_9 = input("Enter your string or sentence: ")
# finding_string = "cricket"
finding_string = input("Enter a string or word which you want to find in your given string or sentence: ")

# using conditional statement to check that the finding word is present or not
if(my_string_9.find(finding_string) != -1):
    print(f"Finding word '{finding_string}' is present in your string/sentence '{my_string_9}'")
else:
    print(f"Finding word '{finding_string}' is not present in your string/sentence '{my_string_9}'")

-----Find a specific word in given sentence-----

Enter your string or sentence:  Find a specific word in given sentence
Enter a string or word which you want to find in your given string or sentence:  a

Finding word 'a' is present in your string/sentence 'Find a specific word in given sentence'

10. Replace a word in a string with another word.

In [10]:
# We can replace a word wsing a replace method
# define string variable
print("-----Replace a word in a string with another word.-----")
print()

my_string_10 = "I love to play cricket"
replace_word = "football"
replaced_string = my_string_10.replace("cricket", replace_word);

print(f"My string is '{my_string_10}' and my replace string is '{replaced_string}'")

-----Replace a word in a string with another word.-----

My string is 'I love to play cricket' and my replace string is 'I love to play football'

11. Count the occurrences of a word in a string.

In [11]:
# Using count() method we count occurrences of a word in s string.
print("-----Count the occurrences of a word in a string.-----")
print()

# define a variable to store my string
# my_string_11 = "Hi, my name is Sayantan Haldar. I live in Burdwan, West-Bengal,India. India is a beautiful country.";

# taking string or sentence from user
my_string_11 = input("Enter a string or sentence: ");

# taking the occurent word from user
word = input("Enter a word which you want to count in your string or sentence: ")
# word = "India"
count_occurrences = my_string_11.count(word);
print(f"The word '{word}' is {count_occurrences} times in your string or sentence --> '{my_string_11}'")

-----Count the occurrences of a word in a string.-----

Enter a string or sentence:  Count the occurrences of a word in a string
Enter a word which you want to count in your string or sentence:  a

The word 'a' is 2 times in your string or sentence --> 'Count the occurrences of a word in a string'

12. Find the first occurrence of a word in a string.

In [12]:
# Using find() method we can find the first occurrence of a word in the string
print("-----Find the first occurrence of a word in a string.-----")
print()

# taking a variable to store our string
my_string_12 = "Hi, my name is Sayantan Haldar. I live in Burdwan, West-Bengal,India. India is a beautiful country"
word_2 = "name";
first_occurrence_index = my_string_12.find(word_2);

# Print the result
print(f"Your word is '{word_2}' and it's first occurrence is at the index of {first_occurrence_index}")

-----Find the first occurrence of a word in a string.-----

Your word is 'name' and it's first occurrence is at the index of 7

13. Find the last occurrence of a word in a string.

In [13]:
# Using rfind() method we can find the last occurrence of a word in the string
print("-----Find the last occurrence of a word in a string.-----")
print()

# taking a variable to store our string
my_string_13 = "Hi, my name is Sayantan Haldar. I live in Burdwan, West-Bengal,India. India is a beautiful country"
word_3 = "a";
last_occurrence_index = my_string_13.rfind(word_3);

# Print the result
print(f"Your word is '{word_3}' and it's last occurrence is at the index of {last_occurrence_index}")

-----Find the last occurrence of a word in a string.-----

Your word is 'a' and it's last occurrence is at the index of 83

14. Split a string into a list of words.

In [14]:
# using split method we can split a string into a list
print("-----Split a string into a list of words.-----")
print()

# taking a variable to store our string.
my_string_14 = "I live in India and it is a beautiful country"
result = my_string_14.split(" ")

print(f"My string is '{my_string_14}'")
print()
print(f"Result:--> {result}")

-----Split a string into a list of words.-----

My string is 'I live in India and it is a beautiful country'

Result:--> ['I', 'live', 'in', 'India', 'and', 'it', 'is', 'a', 'beautiful', 'country']

15. Join a list of words into a string.

In [15]:
# using string join() method we can join a list of words into a string
print("-----Join a list of words into a string.-----")
print()

# takign a variable to store our list.
my_list_1 = ['I', 'live', 'in', 'India', 'and', 'it', 'is', 'a', 'beautiful', 'country']
list_join_to_string = " ".join(my_list_1)

print(f"Given list is {my_list_1}")
print()
print(f"Join list to string:---> '{list_join_to_string}'")

-----Join a list of words into a string.-----

Given list is ['I', 'live', 'in', 'India', 'and', 'it', 'is', 'a', 'beautiful', 'country']

Join list to string:---> 'I live in India and it is a beautiful country'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
print("-----Convert a string where words are separated by spaces to one where words are separated by underscores.-----")
print()

# Takign a variable to store string
my_string_15 = "My name is Sayantan Haldar";
replaced_string_15 = my_string_15.replace(" ","_")

print(f"String with spaces: '{my_string_15}'");
print()
print(f"Converted String with underscore: '{replaced_string_15}'")

-----Convert a string where words are separated by spaces to one where words are separated by underscores.-----

String with spaces: 'My name is Sayantan Haldar'

Converted String with underscore: 'My_name_is_Sayantan_Haldar'

17. Check if a string starts with a specific word or phrase.

In [17]:
# Here we can use startswith() method to check that the string starts with a specific word or letter.
print("-----Check if a string starts with a specific word or phrase.-----")
print()
my_string_16 = "hi everyone!"
start_word = "hii"
if(my_string_16.startswith(start_word) == True):
    print(f"The string '{my_string_16}' is starts with the letter/word '{start_word}'")
else:
    print(f"The string '{my_string_16}' is not starts with the letter/word '{start_word}'")

-----Check if a string starts with a specific word or phrase.-----

The string 'hi everyone!' is not starts with the letter/word 'hii'

18. Check if a string ends with a specific word or phrase

In [18]:
# Here we can use endswith() method to check that the string starts with a specific word or letter.
print("-----Check if a string starts with a specific word or phrase.-----")
print()
my_string_17 = "hi everyone!"
end_word = "everyone!"
if(my_string_17.endswith(end_word) == True):
    print(f"The string '{my_string_17}' is ends with the letter/word '{end_word}'")
else:
    print(f"The string '{my_string_17}' is not ends with the letter/word '{end_word}'")

-----Check if a string starts with a specific word or phrase.-----

The string 'hi everyone!' is ends with the letter/word 'everyone!'

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
# Here we can use title() method to convert string to title case
print("-----Convert a string to title case.-----")
print()

# Taking string from user
my_string_18 = input("Enter a string or word: ")
convert_to_title = my_string_18.title()

# print the result
print(f"My string is '{my_string_18}' and converted to title case :---> '{convert_to_title}'")

-----Convert a string to title case.-----

Enter a string or word:  convert a string to title case

My string is 'convert a string to title case' and converted to title case :---> 'Convert A String To Title Case'

20. Find the longest word in a string.

In [20]:
# here i am taking a string and split it with " ". Then iterate the list using loop. Taking a variable to store our list element one by one then compare the length of every element of the list with the previous one.
print("-----Find the longest word in a string.-----")
print()

# taking a variable to store my string 
my_string_19 = "I live in India and it is a beautiful country"

# split the string with spaces(" ")
my_string_list = my_string_19.split(" ")

# taking a variable to store the longest word but initially it will be empty string("")
longest_word = "";

# Using for loop to iterate over the list
for i in range(len(my_string_list)):
    # compare length of the list element with the previous element
    if(len(my_string_list[i])> len(longest_word)):
        longest_word = my_string_list[i]

# Print the result.
print(f"The word '{longest_word}' is the longest word of the string/sentence '{my_string_19}'")

-----Find the longest word in a string.-----

The word 'beautiful' is the longest word of the string/sentence 'I live in India and it is a beautiful country'

21. Find the shortest word in a string.

In [21]:
# here i am taking a string and split it with " ". Then using sorted() method and pass it our list and also pass the key=len. becouse based on len we can sorted our list. Then we access the first element of the list
print("-----Find the shortest word in a string.-----")
print()

# taking a variable to store my string 
my_string_20 = "I live in India and it is a beautiful country"

# split the string with spaces(" ")
my_string_list_2 = my_string_20.split(" ")

# taking a variable to store the shortest word
shortest_word = "";

# using sorted method
sorted_list = sorted(my_string_list_2, key=len)
shortest_word = sorted_list[0]
# Print the result.
print(f"The word '{shortest_word}' is the longest word of the string/sentence '{my_string_20}'")

-----Find the shortest word in a string.-----

The word 'I' is the longest word of the string/sentence 'I live in India and it is a beautiful country'

22. Reverse the order of words in a string.

In [22]:
# At first we split our string then using slice method we can reverse our list. then join it.
print("-----Reverse the order of words in a string.-----")
print()

# taking a variable to store my string 
my_string_21 = "I live in India and it is a beautiful country"

# split the string with spaces(" ")
my_string_list_3 = my_string_20.split(" ")
reverse_string_list = my_string_list_3[::-1];
join_reverse_string = " ".join(reverse_string_list)
print(f"My string is '{my_string_21}' and after reversing the order, the string is:----> '{join_reverse_string}'")

-----Reverse the order of words in a string.-----

My string is 'I live in India and it is a beautiful country' and after reversing the order, the string is:----> 'country beautiful a is it and India in live I'

23. Check if a string is alphanumeric.

In [23]:
# Using isalnum() we can check that the string is alphanumeric or not.
print("-----Check if a string is alphanumeric.-----")
print()
# Taking a variable to stroe my string
my_string_22="Sayantan2"

# using conditional statement to check the string is alphanumeric or not.
if(my_string_22.isalnum() == True):
    print(f"Given string '{my_string_22}' is a alpha-numeric string.")
else:
    print(f"Given string '{my_string_22}' is not a alpha-numeric string.")

-----Check if a string is alphanumeric.-----

Given string 'Sayantan2' is a alpha-numeric string.

24. Extract all digits from a string.

In [24]:
# iterate over the string and checking each string, if the string is a number, then store it to a variable.
print("-----Extract all digits from a string.-----")
print()

# takig a variable to store the string
my_string_23 = "sayan22ta1n";

# taking a variable to store the extract number.
numeric_string = ''

# using for loop to iterate over the loop
for i in range(len(my_string_23)):
    if(my_string_23[i].isnumeric()):
        numeric_string += ''.join(my_string_23[i])


print(f"My string is '{my_string_23}' and extracted numbers are {numeric_string}")

-----Extract all digits from a string.-----

My string is 'sayan22ta1n' and extracted numbers are 221

25. Extract all alphabets from a string.

In [25]:
# iterate over the string and checking each string, if the string is a alphabet, then store it to a variable.
print("-----Extract all alphsbets from a string.-----")
print()

# takig a variable to store the string
my_string_24 = "sayan22ta1n";

# taking a variable to store the extracted alphabet.
alphabet_string = ''

# using for loop to iterate over the loop
for i in range(len(my_string_24)):
    if(my_string_23[i].isalpha()):
        alphabet_string += ''.join(my_string_24[i])


print(f"My string is '{my_string_24}' and extracted alphabets are {alphabet_string}")

-----Extract all alphsbets from a string.-----

My string is 'sayan22ta1n' and extracted alphabets are sayantan

26. Count the number of uppercase letters in a string.

In [26]:
# iterate over the string and checking each string, if the string is in uppercase, then store it to a variable.
print("-----Count the number of uppercase letters in a string.-----")
print()

# takig a variable to store the count of uppercase string
my_string_25 = "I Live In India and It is a Beautiful Country";

# taking a variable to store the extract number.
uppercase_count = 0

# using for loop to iterate over the loop
for i in range(len(my_string_25)):
    if(my_string_25[i].isupper()):
        uppercase_count += 1


print(f"My string is '{my_string_25}' and count of uppercase letter is {uppercase_count}")

-----Count the number of uppercase letters in a string.-----

My string is 'I Live In India and It is a Beautiful Country' and count of uppercase letter is 7

27. Count the number of lowercase letters in a string.

In [27]:
# iterate over the string and checking each string, if the string is in lowercase, then store it to a variable.
print("-----Count the number of lowercase letters in a string.-----")
print()

# takig a variable to store the count of lowercase string
my_string_26 = "I Live In India and It is a Beautiful Country";

# taking a variable to store the extract number.
lowercase_count = 0

# using for loop to iterate over the loop
for i in range(len(my_string_26)):
    if(my_string_26[i].islower()):
        lowercase_count += 1


print(f"My string is '{my_string_25}' and count of lowercase letter is {lowercase_count}")

-----Count the number of lowercase letters in a string.-----

My string is 'I Live In India and It is a Beautiful Country' and count of lowercase letter is 29

28. Swap the case of each character in a string.

In [28]:
# At first iterate over the strng. and check if the string is in upper case then convet to lower case and do some for lowercases.
print("-----Swap the case of each character in a string.-----")
print()

# take a variable to store the string
my_string_27 = "I Live In India and It is a Beautiful Country"

# take a variable to store result
complete_string = ""

# iterate the string using for loop
for i in range(len(my_string_27)):
    if(my_string_27[i].isupper()):
        complete_string += my_string_27[i].lower()
    else:
        complete_string += my_string_27[i].upper()

print(f"My string is '{my_string_27}' and after swaping cases the result is '{complete_string}'")

-----Swap the case of each character in a string.-----

My string is 'I Live In India and It is a Beautiful Country' and after swaping cases the result is 'i lIVE iN iNDIA AND iT IS A bEAUTIFUL cOUNTRY'

29. Remove a specific word from a string.

In [29]:
# using replace() method we can remove a string.
print("-----Remove a specific word from a string.-----")
print()

# take a variable to store the string
my_string_28 = "I Live In India and It is a Beautiful Country"
word_to_remove = "and"

print(f"My string is '{my_string_28}'")
print(f"Remove word is:--> '{word_to_remove}'")
print(f"After removing result:--> '{my_string_28.replace(word_to_remove, '')}'")

-----Remove a specific word from a string.-----

My string is 'I Live In India and It is a Beautiful Country'
Remove word is:--> 'and'
After removing result:--> 'I Live In India  It is a Beautiful Country'

30. Check if a string is a valid email address.

In [30]:
print("-----Check if a string is a valid email address.-----")
print()

import re
# takign a variable to store string
my_string_29 = "sayantan.haldar@gmail.com"

# Make a regular expression
# for validating an Email
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
if(re.fullmatch(regex, my_string_29)):
    print(f"Given email address '{my_string_29}' is a valid email address")
else:
    print(f"Given email address '{my_string_29}' is not a valid email address")

-----Check if a string is a valid email address.-----

Given email address 'sayantan.haldar@gmail.com' is a valid email address

31. Extract the username from an email address string.

In [31]:
print("-----Extract the username from an email address string.-----")
print()

import re
# Make a regular expression
# for validating an Email
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

# takign a variable to store string
my_string_30 = "sayantan.haldar@gmail.com"
# taking a variable to store '@' index
find_symbol = my_string_30.find("@")
# taking a variable to store username
username = "";

if(re.fullmatch(regex, my_string_30)):
    username = my_string_30[0:find_symbol]
    print(f"Username = {username}")
else:
    print(f"Given email address '{my_string_29}' is not a valid email address")

-----Extract the username from an email address string.-----

Username = sayantan.haldar

32. Extract the domain name from an email address string.

In [32]:
print("-----Extract the domain name from an email address string.-----")
print()

# taking a variable to store string
my_string_31 = "sayantan.haldar@gmail.com"
# find last dot index 
dot_index_2 = my_string_31.rfind('.')
# find symbol index
symbol_index_2 = my_string_31.rfind('@')
# slicing email address from symbol_index_2+1 to dot_index_2
domain = my_string_31[symbol_index_2+1 : dot_index_2]
print(f"Given email address is : {my_string_31}")
print(f"Domain is : {domain}")

-----Extract the domain name from an email address string.-----

Given email address is : sayantan.haldar@gmail.com
Domain is : gmail

33. Replace multiple spaces in a string with a single space.

In [33]:
print("-----Replace multiple spaces in a string with a single space.-----")
print()

# taking a variable to store string
my_string_33 = "    Replace    multiple     spaces  in a    string  with a  single  space.    "
# using split() method to convert string to list and store it a variable.
my_string_list_32 = my_string_33.split()
# after getting list, joining list element with one space and store it a variable
result = ' '.join(my_string_list_32)
# Print the result
print(f"Given string with multi spaces: '{my_string_33}'")
print(f"String with single space: '{result}'")

-----Replace multiple spaces in a string with a single space.-----

Given string with multi spaces: '    Replace    multiple     spaces  in a    string  with a  single  space.    '
String with single space: 'Replace multiple spaces in a string with a single space.'

34. Check if a string is a valid URL.

In [34]:
print("-----Check if a string is a valid URL.-----")
print()

# taking a variable to store string
my_string_33 = "https://www.google.com/"
# taking a variable to store our url's colon index
colon_index = my_string_33.find(":")
# take a variable to store last '.' index
dot_index = my_string_33.rfind(".")
# take a variable to store last forward slash
last_forward_slash = my_string_33.rfind("/")

# using conditional statement to check that the url is valid or not
if(my_string_33[0:colon_index] == "http" or my_string_33[0:colon_index] == "https"):
    if(my_string_33[colon_index+1:colon_index+3] == '//' and my_string_33[colon_index+3:colon_index+4].isalnum() == True):
        if(len(my_string_33[dot_index+1:last_forward_slash])>=2):
            print(f"Given url '{my_string_33}' is a valid url")
        else:
            print(f"Given url '{my_string_33}' is not a valid url")
    else:
        print(f"Given url '{my_string_33}' is not a valid url")
else:
    print(f"Given url '{my_string_33}' is not a valid url")

-----Check if a string is a valid URL.-----

Given url 'https://www.google.com/' is a valid url

35. Extract the protocol (http or https) from a URL string.

In [35]:
print("-----Extract the protocol (http or https) from a URL string.-----")
print()

# taking a variable to store string
my_string_34 = "https://www.google.com/"
# taking a variable to store our url's colon index
colon_index_2 = my_string_34.find(":")

# using conditional statement to check that the url is valid or not. if valid then store protocol to a variable.
if(my_string_34[0:colon_index] == "http" or my_string_34[0:colon_index] == "https"):
    print(f"Given url's protocol is : '{my_string_34[0:colon_index]}'")
else:
    print(f"Given url '{my_string_34}' is not a valid url")

-----Extract the protocol (http or https) from a URL string.-----

Given url's protocol is : 'https'

36. Find the frequency of each character in a string.

In [36]:
print("-----Extract the protocol (http or https) from a URL string.-----")
print()

# taking a variable to store string
my_string_35 = "Find the frequency of each character in a string"
# taking an empty dictionary
all_freq_character = {}

# using for loop to iterate over the string
for i in my_string_35:
    if i in all_freq_character:
        all_freq_character[i] += 1
    else:
        all_freq_character[i] = 1

all_freq_character

-----Extract the protocol (http or https) from a URL string.-----

{'F': 1,
 'i': 3,
 'n': 4,
 'd': 1,
 ' ': 8,
 't': 3,
 'h': 3,
 'e': 5,
 'f': 2,
 'r': 4,
 'q': 1,
 'u': 1,
 'c': 4,
 'y': 1,
 'o': 1,
 'a': 4,
 's': 1,
 'g': 1}

37. Remove all punctuation from a string.

In [37]:
print("-----Remove all punctuation from a string.-----")
print()

# create a list of all punctuation
punctuation_marks = ['.', '?', '!', ',', ';', ':', '"', "'", '-', '', '', '(', ')', '[', ']', '...', '/', '', '', '']

# take a variable to create a list
my_string_36 = "I am sayantan , i love to play cricket ."
my_string_list_36 = my_string_36.split()
for i in my_string_list_36:
    if i in punctuation_marks:
        # print(i)
        my_string_list_36.remove(i)

print(f"My string is '{my_string_36}'")
print()
print(" ".join(my_string_list_36))

-----Remove all punctuation from a string.-----

My string is 'I am sayantan , i love to play cricket .'

I am sayantan i love to play cricket

38. Check if a string contains only digits.

In [38]:
print("-----Check if a string contains only digits.-----")
print()

# take a variable to store a string
my_string_37 = "123456789"

# using conditional statement to check that the string contains only  digit or not
if(my_string_37.isnumeric()):
    print(f"Given string '{my_string_37}' is only contains digit")
else:
    print(f"Given string '{my_string_37}' is not only contains digit but string also")

-----Check if a string contains only digits.-----

Given string '123456789' is only contains digit

39. Check if a string contains only alphabets.

In [39]:
print("-----Check if a string contains only alphabets.-----")
print()

# take a variable to store the string.
my_string_38 = "Sayantan"
# using conditional statement to check, is string contain only string.
if(my_string_38.isalpha()):
    print(f"Given string '{my_string_38}' is only contain alphabate.")
else:
    print(f"Given string '{my_string_38}' is not only contain alphabate but digit also.")

-----Check if a string contains only alphabets.-----

Given string 'Sayantan' is only contain alphabate.

40. Convert a string to a list of characters.

In [40]:
print("-----Convert a string to a list of characters.-----")
print()

# take a variable to store string
my_string_39 = "Sayantan";
# using list() method to convert a string to a list of element
my_string_list_39 = list(my_string_39);
print(f"Give string is '{my_string_39}'")
print(f"Converted list is:  {my_string_list_39}")

-----Convert a string to a list of characters.-----

Give string is 'Sayantan'
Converted list is:  ['S', 'a', 'y', 'a', 'n', 't', 'a', 'n']

41. Check if two strings are anagrams.

In [41]:
print("-----Convert a string to a list of characters.-----")
print()

# take a variable to store a string
my_string_40 = "abcd"
my_anagram_string = "dabc"

# check if both sorted string are same then we can call that the both string and anagram strings are same
if(sorted(my_string_40) == sorted(my_anagram_string)):
    print(f"Both '{my_string_40}' and '{my_anagram_string}'are anagram")
else:
    print(f"Both '{my_string_40}' and '{my_anagram_string}'are not anagram")

-----Convert a string to a list of characters.-----

Both 'abcd' and 'dabc'are anagram

42. Encode a string using a Caesar cipher.

In [42]:
my_string_41 = "abcd"
s = 4
result = ""
   # transverse the plain text
for i in range(len(my_string_41)):
    char = my_string_41[i]
    # Encrypt uppercase characters in plain text
      
    if (char.isupper()):
        result += chr((ord(char) + s-65) % 26 + 65)
      # Encrypt lowercase characters in plain text
    else:
        result += chr((ord(char) + s - 97) % 26 + 97)

print(result)

efgh

43. Decode a Caesar cipher encoded string.

In [43]:
decrypted_text = ''
my_string_42 = "efgh"
shift = 4
for char in my_string_42:
    if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            decrypted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            if is_upper:
                decrypted_char = decrypted_char.upper()
            decrypted_text += decrypted_char
    else:
        decrypted_text += char

print(decrypted_text)

abcd

44. Find the most frequent word in a string.

In [44]:
import string
# my_string_43 = "Technology has revolutionized modern life, altering how we communicate, work, and navigate the world. From smartphones connecting us globally to artificial intelligence shaping industries, it's the driving force of progress. As it evolves, technology's impact continues to shape society's future, promising innovations beyond imagination."
my_string_43 = "I love india and india is a beautiful country"
freq_word = {};
no_punct = ''.join(char for char in my_string_43 if char not in string.punctuation)
for i in no_punct.split(" "):
    if i in freq_word:
        freq_word[i] +=1
    else:
        freq_word[i] =1
freq_word

{'I': 1,
 'love': 1,
 'india': 2,
 'and': 1,
 'is': 1,
 'a': 1,
 'beautiful': 1,
 'country': 1}

45. Find all unique words in a string.

In [45]:
import string

my_string_44 = "I love india and india is a beautiful country"
freq_word_2 = {};
unique_word = {}
no_punct_2 = ''.join(char for char in my_string_43 if char not in string.punctuation)
set(no_punct_2.split(" "))

{'I', 'a', 'and', 'beautiful', 'country', 'india', 'is', 'love'}

46. Count the number of syllables in a string.

In [46]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    prev_char_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_vowel:
                count += 1
                prev_char_vowel = True
        else:
            prev_char_vowel = False
    
    # Consider ending 'e' which is often silent
    if word.endswith('e'):
        count -= 1
    
    # At least one syllable per word
    count = max(count, 1)
    
    return count

def count_syllables_in_string(input_string):
    words = input_string.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

input_string = "Technology has revolutionized modern life, altering how we communicate, work, and navigate the world."

syllable_count = count_syllables_in_string(input_string)
print("Total syllables:", syllable_count)

Total syllables: 31

47. Check if a string contains any special characters.

In [47]:
special_characters = ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']
my_string_47 = "Hello1234456!"
is_special_char_find = False
for i in my_string_47:
    if i in special_characters:
        is_special_char_find = True
    else:
        is_special_char_find = False
       
if is_special_char_find:
    print(f"My String contains special character")
else:
     print(f"My string is not contain any special character")

My String contains special character

48. Remove the nth word from a string.

In [48]:
my_string_48 = "I love to play cricket";
my_string_list_48 = my_string_48.split()
word_to_remove = "play"
for i in my_string_list_48:
    if i==word_to_remove:
        my_string_list_48.remove(i)
final_string = ' '.join(my_string_list_48)
print(f"My string : {my_string_48}")
print(f"After removing word: {final_string}")

My string : I love to play cricket
After removing word: I love to cricket

49. Insert a word at the nth position in a string.

In [49]:
my_string_49 = "I love to cricket"
my_string_list_49 = my_string_49.split()
word_want_to_add = "play"
where_to_add = "cricket"
index_to_add = 0

for i in my_string_list_49:
  if i == where_to_add:
    # print(i)
    index_to_add = my_string_list_49.index(i)
    # print(index_to_add)

my_string_list_49.insert(index_to_add,word_want_to_add)
        

final_string_2 = ' '.join(my_string_list_49)
print(f"My string : {my_string_49}")
print(f"After removing word: {final_string_2}")

My string : I love to cricket
After removing word: I love to play cricket

50. Convert a CSV string to a list of lists.

In [50]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = csv_data.split('\n')
result = []
for line in lines:
    filds = line.split(',')
    # print(filds)
    result.append(filds)

for row in result:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10

In [51]:
# using a list comprehension to create a list of integer
my_list_1 = [i for i in range(1,11)]
print(my_list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [52]:
def find_length(my_list_2):
    # take a count variable to count each element
    count = 0;
    # using for loop to iterate over the list
    for i in my_list_2:
        count+=1
    return count

my_list_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = find_length(my_list_2)
print(f"Length of the list is: {result}")

Length of the list is: 10

3. Append an element to the end of a list.

In [53]:
# take a variable to store my list
my_list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element_to_add = 11
# using append method we can add element to the end of the list
my_list_3.append(element_to_add)

print(f"After append : {my_list_3}")

After append : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [54]:
# take a variable to store my list
my_list_4 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element_to_add_2 = 11
index = 2
# using insert() method we can add element to a specific index of the list
my_list_4.insert(index,element_to_add_2)

print(f"After insert : {my_list_4}")

After insert : [1, 2, 11, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [55]:
# take a variable to store my list
my_list_5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

element_to_remove = 5

my_list_5.remove(element_to_remove)
print(f"After remove : {my_list_5}")

After remove : [1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [56]:
# take a variable to store my list
my_list_6 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 3
my_list_6.pop(index)

print(f"After remove by index : {my_list_6}")

After remove by index : [1, 2, 3, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [57]:
# take a variable to store my list
my_list_7 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
is_exist_element = 14
if(my_list_7.count(is_exist_element)>0):
    print(f"Element {is_exist_element} is exist in list")
else:
    print(f"Element {is_exist_element} is not exist in list")

Element 14 is not exist in list

8. Find the index of the first occurrence of an element in a list.

In [58]:
# take a variable to store my list
my_list_8 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]
find_element = 9
result = my_list_8.index(find_element);

print(f"The index of {find_element} is {result}")

The index of 9 is 8

9. Count the occurrences of an element in a list.

In [59]:
# take a variable to store my list
my_list_9 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 5,6,7,2]
element_to_find = 10
count = my_list_9.count(element_to_find);

print(f"{element_to_find} is {count} times in the list ")

10 is 1 times in the list

10. Reverse the order of elements in a list

In [60]:
# take a variable to store my list
my_list_10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 5,6,7,2]
reverse_list = my_list_10[::-1]

print(f"Reverse list : {reverse_list}")

Reverse list : [2, 7, 6, 5, 2, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [61]:
# take a variable to store my list
my_list_11 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 5,6,7,2]
my_list_11.sort()
print(f"Ascending Order: {my_list_11}")

Ascending Order: [1, 2, 2, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8, 9, 10]

12. Sort a list in descending order

In [62]:
# take a variable to store my list
my_list_12 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 5,6,7,2]
my_list_12.sort(reverse=True)
print(f"Descending Order: {my_list_12}")

Descending Order: [10, 9, 8, 7, 7, 6, 6, 5, 5, 4, 3, 2, 2, 2, 1]

13. Create a list of even numbers from 1 to 20

In [63]:
# using lst comprehensiom 
my_list_13 = [i for i in range(1,21) if i%2==0]
print(f"list of even number from 1-20: {my_list_13}")

list of even number from 1-20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [64]:
# using lst comprehensiom 
my_list_14 = [i for i in range(1,21) if i%2!=0]
print(f"list of odd number from 1-20: {my_list_14}")

list of odd number from 1-20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [65]:
def sum_of_list_element(my_list_15):
    sum =0;
    for i in my_list_15:
        sum+=i
    return sum
# take a variable to store list
my_list_15 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
sum = sum_of_list_element(my_list_15)
print(f"Sum of all list element is : {sum}")

Sum of all list element is : 110

16. Find the maximum value in a list.

In [66]:
def find_maximum(my_list):
    # print(type(my_list))
    max_value = max(my_list)
    return max_value

my_list_16 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
max_value = find_maximum(my_list_16)
print(f"Maximum value of the list is: {max_value}")

Maximum value of the list is: 20

17. Find the minimum value in a list.

In [67]:
def find_maximum(my_list):
    # print(type(my_list))
    min_value = min(my_list)
    return min_value

my_list_17 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
min_value = find_maximum(my_list_16)
print(f"Minimum value of the list is: {min_value}")

Minimum value of the list is: 2

18. Create a list of squares of numbers from 1 to 10

In [68]:
my_list_18 = [i*i for i in range(1,11)]
print(f"List of square numbers from 1-10: {my_list_18}")

List of square numbers from 1-10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [69]:
import random
my_list_19 = [random.randint(20,100) for _ in range(1,10)]
print(f"List of random numbers are: {my_list_19}")

List of random numbers are: [69, 72, 20, 83, 22, 74, 93, 86, 75]

20. Remove duplicates from a list.

In [70]:
# taking a variable to create a list
my_list_20 = [1,2,2,3,3,6,3,6,3,8,4,9,7,5,4,55,4,2,1,5,42,451]

# convert list to set
my_set = set(my_list_20)
# convert my set to another list
remove_duplicates = list(my_set)
print(f"Original list: {my_list_20}")
print(f"Remove duplicate value from  list: {remove_duplicates}")

Original list: [1, 2, 2, 3, 3, 6, 3, 6, 3, 8, 4, 9, 7, 5, 4, 55, 4, 2, 1, 5, 42, 451]
Remove duplicate value from  list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 42, 451, 55]

21. Find the common elements between two lists.

In [71]:
my_list_21_1 = [i for i in range(1,11)]
my_list_21_2 = [i for i in range(5,20)]
# common_elem=[]
# for i in my_list_21_1:
#     for j in my_list_21_2:
#         if i==j:
#             common_elem.append(i)

common_elem = [elem for elem in my_list_21_1 if elem in my_list_21_2]

print(f"List1: {my_list_21_1}")
print(f"List2: {my_list_21_2}")
print(f"Common element in both list: {common_elem}")

List1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List2: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Common element in both list: [5, 6, 7, 8, 9, 10]

22. Find the difference between two lists.

In [72]:
my_list_22_1 = [i for i in range(1,11)]
my_list_22_2 = [i for i in range(5,20)]

diff_elem = [elem for elem in my_list_22_1 if elem not in my_list_22_2]
# list(set(my_list_22_1).difference(set(my_list_22_2)))

print(f"List1: {my_list_22_1}")
print(f"List2: {my_list_22_2}")
print(f"Different element in list: {diff_elem}")

List1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List2: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Different element in list: [1, 2, 3, 4]

23. Merge two lists.

In [73]:
my_list_23_1 = [i for i in range(1,11)]
my_list_23_2 = [i for i in range(5,20)]

new_list = my_list_23_1 + (my_list_23_2)

print(f"List1: {my_list_23_1}")
print(f"List2: {my_list_23_2}")
print(f"Marge two list: {new_list}")

List1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List2: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Marge two list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

24. Multiply all elements in a list by 2.

In [74]:
my_list_24 = [i*2 for i in range(1,11)]
print(f"Multiply all elements by 2: {my_list_24}")

Multiply all elements by 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [75]:
import random
my_list_25 = [random.randint(20,100) for _ in range(1,20)]
even_number_list = [i for i in my_list_25 if i%2==0]

print(f"Original List: {my_list_25}")
print(f"even number List: {even_number_list}")

Original List: [70, 35, 62, 62, 31, 21, 54, 63, 65, 83, 37, 88, 82, 94, 35, 100, 71, 36, 20]
even number List: [70, 62, 62, 54, 88, 82, 94, 100, 36, 20]

26. Convert a list of strings to a list of integers.

In [76]:
my_list_26 = [str(i) for i in range(1,11)]
convert_to_int = [int(i) for i in my_list_26]
print(f"Original list: {my_list_26}")
print(f"Converted to integer list: {convert_to_int}")

Original list: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
Converted to integer list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

27. Convert a list of integers to a list of strings.

In [77]:
my_list_27 = [i for i in range(1,11)]
convert_to_str = [str(i) for i in my_list_27]
print(f"Original list: {my_list_27}")
print(f"Converted to string list: {convert_to_str}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Converted to string list: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

In [78]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested_list):
    new_list = []
    for i in nested_list:
        new_list.extend(i)
    return new_list
list1 = flatten_list(nested_list)
print(f"Nested List: {nested_list}")
print(f"Flatten List: {list1}")

Nested List: [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
Flatten List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [79]:
def fib_sequence_2(n):
    if n<=0:
        return []
    elif n==1:
        return [0]
    elif n==2:
        return [0,1]
    else:
        result_2 = fib_sequence_2(n-1);
        result_2.append(result_2[-1]+result_2[-2])
        return result_2

my_list_29=fib_sequence_2(10)
print(f"List of 10 fibonacci numbers are : {my_list_29}")

List of 10 fibonacci numbers are : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [80]:
# my_list_30 = [23, 33, 70, 51, 37, 67, 62, 27, 86, 51, 82, 79, 82, 78, 63, 56, 59, 86, 96]
my_list_30 =[1, 2, 3, 4, 5, 6, 7, 8, 9]

def is_sorted_list(my_list):
    for i in range(1,len(my_list)):
        if my_list[i] < my_list[i-1]:
            return False
    return True

if is_sorted_list(my_list_30):
    print("Given list is sorted list")
else:
    print("Given list is not sorted")

Given list is sorted list

31. Rotate a list to the left by `n` positions.

In [81]:
def rotate_left(my_list,n):
    roted_list = my_list[n:]+my_list[:n]
    return roted_list

my_list_31 = [1,2,3,4,5,6,7,8,9]
n = 4
rotated_list = rotate_left(my_list_31,n)
print(f"Original List: {my_list_31}")
print(f"Rotated List: {rotated_list}")

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Rotated List: [5, 6, 7, 8, 9, 1, 2, 3, 4]

32. Rotate a list to the right by `n` positions.

In [82]:
def rotate_right(my_list,n):
    roted_list = my_list[-n:]+my_list[:-n]
    return roted_list

my_list_32 = [1,2,3,4,5,6,7,8,9]
n_2 = 2
rotated_list_2 = rotate_right(my_list_32,n_2)
print(f"Original List: {my_list_32}")
print(f"Rotated List: {rotated_list_2}")

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Rotated List: [8, 9, 1, 2, 3, 4, 5, 6, 7]

33. Create a list of prime numbers up to 50.

In [85]:
def is_prime(n):
    if n<=1:
        return False
    elif n<=3:
        return True
    elif n%2==0 or n%3==0:
        return False

    i=5
    while i*i<=n:
        if n%i == 0 or n%(i+2)==0:
            return False
        i+=6
    return True

my_list_33 = [i for i in range(1,51) if is_prime(i)]
my_list_33

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [88]:
def chunk_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunked_list = chunk_list(my_list, 3)

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [4]:
my_list_35 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
second_largest_number = sorted(my_list_35, reverse=True)[1]
print(f"Second Largest Number is {second_largest_number}")

Second Largest Number is 9

36. Replace every element in a list with its square

In [8]:
my_list_36 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(my_list_36)):
    my_list_36[i] = my_list_36[i]**2


print(f"Replace every element in a list with its square: {my_list_36}")

Replace every element in a list with its square: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [10]:
my_list_37 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def list_to_dict(my_list):
    my_dict = {}
    for i in range(len(my_list)):
        my_dict[my_list[i]] = i
    return my_dict

result = list_to_dict(my_list_37)
print(result)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

38. Shuffle the elements of a list randomly.

In [16]:
import random
my_list_38 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# new_list = random.shuffle(my_list_38)
# new_list
random.shuffle(my_list_38)
print(f"Suffle List: {my_list_38}")

Suffle List: [5, 9, 4, 6, 3, 7, 1, 8, 10, 2]

39. Create a list of the first 10 factorial numbers.

In [20]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num*factorial(num-1)

my_list_39 = [factorial(i) for i in range(10)]
print(f"list of the first 10 factorial numbers : {my_list_39}")

list of the first 10 factorial numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [1]:
def check_common_elem(list1, list2):
    has_common_elem = False
    for i in range(len(list1)):
        for j in range(len(list2)):
            if list1[i]==list2[j]:
                has_common_elem = True
    # print(has_common_elem)
    if has_common_elem:
        print(f"two list has common element")
    else:
        print(f"two list has no common element")

list1 = [10,20,5,3,2,1]
list2 = [101,1202,53,32,2,12]
check_common_elem(list1, list2)

two list has common element

41. Remove all elements from a list.

In [8]:
list1 = [10,20,5,3,2,1]
list1.clear()
print(list1)

[]

42. Replace negative numbers in a list with 0.

In [10]:
list1 = [10,-20,5,3,-2,1]
def change_negative_value(list):
    for i in range(len(list)):
        if(list[i]<0):
            list[i]=0

    return list
res = change_negative_value(list1)
print(res)

[10, 0, 5, 3, 0, 1]

43. Convert a string into a list of words.

In [11]:
string = "I love india"
def convert_to_list(string):
    list1 = string.split(" ")
    return list1

res = convert_to_list(string)
print(res)

['I', 'love', 'india']

44. Convert a list of words into a string.

In [12]:
list1 = ['I', 'love', 'india']
def list_to_string(li):
    result =""
    for i in list1:
        result += "".join(i)
    return result

res = list_to_string(list1)
print(res)

Iloveindia

45. Create a list of the first `n` powers of 2.

In [13]:
def tow_powers(n):
    list1= []
    for i in range(1,n+1):
        list1.append(2**i)
    return list1

res = tow_powers(15)
print(res)


# using list comprehension
n=6
result = [2**i for i in range(1,n+1)]
print(result)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768]
[2, 4, 8, 16, 32, 64]

46. Find the longest string in a list of strings.

In [15]:
list1 = ['Hi', 'I', 'am', 'Sayantan.', 'I', 'live', 'in', 'barddhaman.', 'I', 'love', 'India']

def longest_string(li):
    long_string = ""
    for i in range(len(li)):
        if(len(li[i])>len(long_string)):
            long_string = li[i]
    return long_string

res = longest_string(list1)
print(f"Longest String is : {res}")

Longest String is : barddhaman.

Find the shortest string in a list of strings.

In [18]:
list1 = ['Hi', 'I', 'am', 'Sayantan.', 'I', 'live', 'in', 'barddhaman.', 'I', 'love', 'India']

def shortest_string(li):
    short_string = ""
    if(len(li)>0):
        short_string=li[0]
    for i in range(len(li)):
        if(len(li[i])<len(short_string)):
            short_string = li[i]
    return short_string
    

res = shortest_string(list1)
print(f"Shortest string is : {res}")

Shortest string is : I

48. Create a list of the first `n` triangular numbers.

In [23]:
def print_triangular_number(n):
    triangular_number_list = []
    for i in range(1,n+1):
        number = (i*(i+1))//2
        triangular_number_list.append(number)
    return triangular_number_list

res = print_triangular_number(5)
print(res)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [25]:
test_list = [9, 4, 5, 8, 10,5]
sub_list = [10, 5]

def check_subs_sequence(test_list, sub_list):
    flag = 0
    if(set(test_list) and set(sub_list) == set(sub_list)):
        flag =1
    
    if flag:
        print("Yes, list is subset of other.")
    else:
        print("No, list is subset of other.")

check_subs_sequence(test_list,sub_list)

Yes, list is subset of other.

50. Swap two elements in a list by their indices.

In [28]:
test_list = [9, 4, 5, 8, 10,5]
print(f"Original List: {test_list}")
def swap_list_elem(test_list, index1, index2):
    temp = ""
    a = test_list[index1-1]
    b = test_list[index2-1]
    temp = a
    test_list[index1-1]=b
    test_list[index2-1]=temp
    return test_list

res = swap_list_elem(test_list,2,4)

print(f"After swapping: {res}")

Original List: [9, 4, 5, 8, 10, 5]
After swapping: [9, 8, 5, 4, 10, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [31]:
print("-----Create a tuple with integers from 1 to 5.-----")
print()

l1=[i for i in range(1,6)]
t1=tuple(l1)

print(t1)

-----Create a tuple with integers from 1 to 5.-----

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [32]:
print("-----Access the third element of a tuple.-----")
print()

l1=[i for i in range(1,6)]
t1=tuple(l1)
elem = t1[2]

print(f"3rd element of the tuple is {elem}")

-----Access the third element of a tuple.-----

3rd element of the tuple is 3

3. Find the length of a tuple without using the `len()` function.

In [33]:
print("-----Find the length of a tuple without using the `len()` function.-----")
print()

t1 = (1,2,3,4,5,6,7,8,9,10)
def len_of_tuple(t1):
    length = 0
    for i in range(len(t1)):
        length += 1
    return length

res = len_of_tuple(t1)
print(f"Length of tuple is {res}")

-----Find the length of a tuple without using the `len()` function.-----

Length of tuple is 10

4. Count the occurrences of an element in a tuple.

In [34]:
print("-----Count the occurrences of an element in a tuple.-----")
print()

t1 = (1,2,3,5,10,4,5,6,7,8,9,10)
def count_occurences(tuple, elem):
    occurence = 0
    for i in range(len(tuple)):
        if(tuple[i]==elem):
            occurence +=1
    return f"In the given tuple the occurence of {elem} is {occurence}"

res = count_occurences(t1,5)
print(res)

-----Count the occurrences of an element in a tuple.-----

In the given tuple the occurence of 5 is 2

5. Find the index of the first occurrence of an element in a tuple.

In [9]:
print('-----Find the index of the first occurrence of an element in a tuple.-----')
print()

t1 = (1,2,3,4,5,6,2,3,4,12)

def find_tuple_element(tuple, find_elem):
    index = -1
    for i in range(len(tuple)):
        if tuple[i] == find_elem:
            index = i
            break
    
    if index != -1:
        return f"The element {find_elem} at the index of {index}"
    else:
        return f"Element {find_elem} is not found"


result = find_tuple_element(t1,4)
print(result)

-----Find the index of the first occurrence of an element in a tuple.-----

The element 4 at the index of 3

6. Check if an element exists in a tuple.

In [10]:
print('-----Check if an element exists in a tuple.-----')
print()

t1 = (1,2,3,4,5,6,2,3,4,12)

def is_exist_elem(tuple, elem):
    is_found = False
    for i in range(len(tuple)):
        if tuple[i] == elem:
            is_found = True
            break
    
    if is_found:
        return f"Element {elem} is exist in your tuple"
    else:
        return f"Element {elem} is not exist in your tuple"
    

result = is_exist_elem(t1,1)
print(result)

-----Check if an element exists in a tuple.-----

Element 1 is exist in your tuple

7. Convert a tuple to a list.

In [11]:
print('-----Convert a tuple to a list.-----')
print()

t1 = (1,2,3,4,5,6,2,3,4,12)

def convert_tuple_to_list(tuple):
    return list(tuple)
    

result = convert_tuple_to_list(t1)
print(result)

-----Convert a tuple to a list.-----

[1, 2, 3, 4, 5, 6, 2, 3, 4, 12]

8. Convert a list to a tuple.

In [12]:
print('-----Convert a list to a tuple.-----')
print()

l1 = [1,2,3,4,5,6,2,3,4,12]

def convert_list_to_tuple(list):
    return tuple(list)
    

result = convert_list_to_tuple(l1)
print(result)

-----Convert a list to a tuple.-----

(1, 2, 3, 4, 5, 6, 2, 3, 4, 12)

9. Unpack the elements of a tuple into variables.

In [15]:
print('-----Unpack the elements of a tuple into variables.-----')
print()

t1 = (1,2,3,4)
var1,var2,var3,var4 = t1
print("var1 : ",var1)
print("var2 : ",var2)
print("var3 : ",var3)
print("var4 : ",var4)

-----Unpack the elements of a tuple into variables.-----

var1 :  1
var2 :  2
var3 :  3
var4 :  4

10. Create a tuple of even numbers from 1 to 10.

In [16]:
print('-----Create a tuple of even numbers from 1 to 10.-----')
print()

def even_number_tuple():
    # using list comprehension method to create even number list
    my_list = [i for i in range(1,11) if i%2==0]
    # then use type conversion to convert list to tuple 
    my_tuple = tuple(my_list)
    # return my tuple
    return my_tuple

result = even_number_tuple()
print(result)

-----Create a tuple of even numbers from 1 to 10.-----

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [17]:
print('-----Create a tuple of odd numbers from 1 to 10.-----')
print()

def odd_number_tuple():
    # using list comprehension method to create a odd number list
    my_list = [i for i in range(1,11) if i%2!=0]
    # use type conversion to convert the list to tuple
    my_tuple = tuple(my_list)
    # return the result 
    return my_tuple

result = odd_number_tuple()
print(result)

-----Create a tuple of odd numbers from 1 to 10.-----

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [19]:
print('-----Concatenate two tuples.-----')
print()

t1 = (2, 4, 6, 8, 10)
t2 = (2, 4, 6, 8, 10,101,102)
def concatinate_tuples(tuple1,tuple2):
    # using + operator , we can concatinate tow tuple into one
    result = tuple1+tuple2
    return result

result = concatinate_tuples(t1,t2)
print(result)

-----Concatenate two tuples.-----

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 101, 102)

13. Repeat a tuple three times.

In [20]:
print('-----Repeat a tuple three times.-----')
print()

t1 = (2, 4, 6, 8, 10)
def repeat_tuples(tuple):
    # using * operator we can repeat tuples 
    result = tuple*3
    return result

result = repeat_tuples(t1)
print(result)

-----Repeat a tuple three times.-----

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14. Check if a tuple is empty

In [21]:
print('-----Check if a tuple is emptys.-----')
print()

t1 = ()
def is_empty_tuple(tuple):
    # using len method we can check the length of a tuple .
    length = len(tuple)
    # using conditional satetment we can check that the tuple has element or not
    if length ==0:
        return "The tuple is empty"
    else:
        return "The tuple is not empty"
result = is_empty_tuple(t1)
print(result)

-----Check if a tuple is emptys.-----

The tuple is empty

15. Create a nested tuple.

In [23]:
print('-----Create a nested tuple.-----')
print()

nested_tuple = ((1,2,3,4,5),(2,3,4,56))
print(nested_tuple)

-----Create a nested tuple.-----

((1, 2, 3, 4, 5), (2, 3, 4, 56))

16. Access the first element of a nested tuple.

In [24]:
print('-----Create a nested tuple.-----')
print()

nested_tuple = ((1,2,3,4,5),(2,3,4,56))
first_element = nested_tuple[0]
print(first_element)

-----Create a nested tuple.-----

(1, 2, 3, 4, 5)

17. Create a tuple with a single element.

In [25]:
print('-----Create a tuple with a single element.-----')
print()

# we can create a tuple to put value in () but if we want a single tuple then we need to add a "," after the data. If we not put "," then it will return a number datatype not tuple datatype.
single_elem_tuple = (1,)
print(single_elem_tuple)

-----Create a tuple with a single element.-----

1

18. Compare two tuples.

In [28]:
print('-----Compare two tuples.-----')
print()

t1=(1,2,3)
t2=(1,2,5)

def compare_tuples(tuple1, tuple2):
    # using comparision operator we can compare two tuples
    print(f"tuple1==tuple2 ---> {tuple1==tuple2}")
    print(f"tuple1!=tuple2 ---> {tuple1!=tuple2}")
    print(f"tuple1>tuple2 ---> {tuple1>tuple2}")
    print(f"tuple1>=tuple2 ---> {tuple1>=tuple2}")
    print(f"tuple1<tuple2 ---> {tuple1<tuple2}")
    print(f"tuple1<=tuple2 ---> {tuple1<=tuple2}")

compare_tuples(t1,t2)

-----Compare two tuples.-----

tuple1==tuple2 ---> False
tuple1!=tuple2 ---> True
tuple1>tuple2 ---> False
tuple1>=tuple2 ---> False
tuple1<tuple2 ---> True
tuple1<=tuple2 ---> True

19. Delete a tuple.

In [ ]:
print('-----Delete a tuple.-----')
print()

t1=(1,2,3)
print(f"Before Delete t1 = {t1}")

# using del key word we can delete tuple
del t1

# after deleting tuple if we try to print t1 , it will throw an error (name error)
print(t1)

20. Slice a tuple.

In [46]:
print('-----Slice a tuple.-----')
print()

t1=(1,2,3,4,5,6,7,8,9)
# using slicing method we can slice our tuple
slice_tuple = t1[2:5]
# print result
print(slice_tuple)

-----Slice a tuple.-----

(3, 4, 5)

21. Find the maximum value in a tuple.

In [45]:
print("-----Find the maximum value in a tuple.-----")
print()
t1=(1,2,3,4,54,6,7,8,9)
def find_maximum(tuple):
    # using type conversion we can convert our tuple to list
    l1=list(tuple)
    # using max() method we can find our max value
    max_value = max(l1)
    # return result
    return f"{max_value} is the maximum value in the tuple"

result = find_maximum(t1)
print(result)

-----Find the maximum value in a tuple.-----

54 is the maximum value in the tuple

22. Find the minimum value in a tuple.

In [35]:
print("-----Find the minimum value in a tuple.-----")
print()
t1=(10,2,3,4,54,6,7,8,9)
def find_minimum(tuple):
    # using type conversion we can convert our tuple to list
    l1=list(tuple)
    # using min() method we can find our min value
    min_value = min(l1)
    # return our result
    return f"{min_value} is the minimum value in the list"

result = find_minimum(t1)
print(result)

-----Find the minimum value in a tuple.-----

2 is the minimum value in the list

23. Convert a string to a tuple of characters

In [43]:
print("-----Convert a string to a tuple of characters-----")
print()

def convert_string_to_tuple(string):
    # using type conversion we can convert a string to list
    l1 = list(string)
    # again using type conversion we can convert list to tuple
    t1 = tuple(l1)
    # return result
    return t1
result = convert_string_to_tuple("India")
print(result)

-----Convert a string to a tuple of characters-----

('I', 'n', 'd', 'i', 'a')

24. Convert a tuple of characters to a string.

In [42]:
print("-----Convert a tuple of characters to a string.-----")
print()
def convert_tuple_to_string(tuple):
    # using type conversion we can convert our tuple to list
    l1 = list(tuple)
    # using join() method we can join out iterable object to a string
    string = "".join(l1)
    # return our result
    return string
t1=('I', 'n', 'd', 'i', 'a')
result = convert_tuple_to_string(t1)
print(result)

-----Convert a tuple of characters to a string.-----

India

25. Create a tuple from multiple data types.

In [38]:
print("-----Create a tuple from multiple data types.-----")
print()

my_tuple = (1,2,3,"India",[1,2,3,43],(2+5j))
print(my_tuple)

-----Create a tuple from multiple data types.-----

(1, 2, 3, 'India', [1, 2, 3, 43], (2+5j))

26. Check if two tuples are identical.

In [41]:
print("-----Check if two tuples are identical.-----")
print()
# take two tuple 
t1 = (1,2,3)
t2 = (1,2,3)

# using comparision operator we can check that two tuples are equal or not
are_identical_1 = t1==t2

print(f"t1=t2", are_identical_1)

-----Check if two tuples are identical.-----

t1=t2 True

27. Sort the elements of a tuple

In [40]:
print("-----Sort the elements of a tuple-----")
print()

t1 = (10,82,43,40,12,5,1,100,45)
def sort_tuple(tuple1):
    # using sorted method we can sort our iterable objet and it will return a sorted list
    sort_tuple = sorted(tuple1)
    # using type conversion we convert list to tuple
    tup = tuple(sort_tuple)
    # return our tuple
    return tup

result = sort_tuple(t1)
print(result)

-----Sort the elements of a tuple-----

(1, 5, 10, 12, 40, 43, 45, 82, 100)

28. Convert a tuple of integers to a tuple of strings.

In [49]:
print("-----Convert a tuple of integers to a tuple of strings.-----")
print()

t1 = (10,82,43,40,12,5,1,100,45)
def convert_tuple_int_to_str(tuple1):
    # using type conversion we can change type to list
    l1 = list(tuple1)
    # print(type(l1))
    # using for loop we can iterate over the list
    l2=[]
    for i in range(len(l1)):
        l2.append(str(l1[i]))

    # using type conversion change list to tuple
    t2 = tuple(l2)

    return t2

result = convert_tuple_int_to_str(t1)
print(result)

-----Convert a tuple of integers to a tuple of strings.-----

('10', '82', '43', '40', '12', '5', '1', '100', '45')

29. Convert a tuple of strings to a tuple of integers.

In [51]:
print("-----Convert a tuple of strings to a tuple of integers.-----")
print()

t1 = ('10', '82', '43', '40', '12', '5', '1', '100', '45')
def convert_tuple_str_to_int(tuple1):
    # using type conversion we can change type to list
    l1 = list(tuple1)
    # using for loop we can iterate over the list
    l2=[]
    for i in range(len(l1)):
        l2.append(int(l1[i]))

    # using type conversion we can change type to tuple
    t2 = tuple(l2)
    return t2

result = convert_tuple_str_to_int(t1)
print(result)

-----Convert a tuple of strings to a tuple of integers.-----

(10, 82, 43, 40, 12, 5, 1, 100, 45)

30. Merge two tuples.

In [52]:
print("-----Merge two tuples.-----")
print()

t1 = ('10', '82', '43', '40', '12', '5', '1', '100', '45')
t2 = ("India", "Bangladesh","Nepal", "Bhutan")
def marge_tuple(tuple1, tuple2):
    # using + operator we can marge two tuple
    t1 = tuple1+tuple2
    return t1

result = marge_tuple(t1,t2)
print(result)

-----Merge two tuples.-----

('10', '82', '43', '40', '12', '5', '1', '100', '45', 'India', 'Bangladesh', 'Nepal', 'Bhutan')

31. Flatten a nested tuple.

In [1]:
print("-----Flatten a nested tuple.-----")
print()

nested_tuple = ((1, 2, 3), (4, (5, 6), 7), (8, 9))

def flatten_nested_tuple(t1):
    my_list = []
    for i in t1:
        if isinstance(i, tuple):
            my_list.extend(flatten_nested_tuple(i))
        else:
            my_list.append(i)

    return tuple(my_list)



res = flatten_nested_tuple(nested_tuple)
print(res)

-----Flatten a nested tuple.-----

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [3]:
print("-----Create a tuple of the first 5 prime numbers.-----")
print()

def is_prime(num):
    if num <=1:
        return False

    for i in range(2, int(num ** 0.5)+1):
        if num % i == 0:
            return False
    return True

my_list =  tuple([i for i in range(1,100) if is_prime(i)][:5])
print(my_list)

-----Create a tuple of the first 5 prime numbers.-----

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [4]:
print("-----Check if a tuple is a palindrome.-----")
print()
t1 = (1,2,3,2,1)
def is_palindrome(t1):
    if t1 == t1[::-1]:
        return f"Given Tuple is palindrome"
    else:
        return f"Given Tuplw is not palindrome"

res = is_palindrome(t1)
print(res)

-----Check if a tuple is a palindrome.-----

Given Tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [6]:
print("-----Create a tuple of squares of numbers from 1 to 5.-----")
print()

t1 = tuple([i*i for i in range(1,6)])
t1

-----Create a tuple of squares of numbers from 1 to 5.-----

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [7]:
print("-----Filter out all even numbers from a tuple.-----")
print()
t1 = (1,2,3,4,5,6,7,8,9,10)
def is_even(t1):
    l1 = [i for i in t1 if i%2==0]
    return tuple(l1)

res = is_even(t1)
print(res)

-----Filter out all even numbers from a tuple.-----

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [15]:
print("-----Multiply all elements in a tuple by 2.-----")
print()

def mul_elem(t1):
    return tuple([i*2 for i in t1])

res = mul_elem((1,2,3,4,5,67))
res

-----Multiply all elements in a tuple by 2.-----

(2, 4, 6, 8, 10, 134)

37. Create a tuple of random numbers.

In [22]:
print("-----Create a tuple of random numbers.-----")
print()

import random
def random_tuple():
    res = tuple([random.randint(1, 10) for i in range(1 , 5)])
    return res

res = random_tuple()
print(res)

-----Create a tuple of random numbers.-----

(1, 9, 6, 2)

38. Check if a tuple is sorted.

In [24]:
print("-----Check if a tuple is sorted.-----")
print()

# t1 = (1,4,2,6,2,9,3) 
t1 = (1,2,3,4,5,6)

def is_sorted(t1):
    if t1 == tuple(sorted(t1)):
        return f"Given Tuple is sorted"
    else:
        return f"Given Tuple is not sorted"

res = is_sorted(t1)
print(res)

-----Check if a tuple is sorted.-----

Given Tuple is sorted

39. Rotate a tuple to the left by `n` positions

In [28]:
print("-----Rotate a tuple to the left by `n` positions-----")
print()
t1 = (1,2,3,4,5,6)

def rotate_to_left(t1, position):
    if len(t1) == 0:
        return t1
    tuple1 = t1[:position]
    tuple2 = t1[position:]
    return tuple2 + tuple1

res = rotate_to_left(t1,2)
print(res)

-----Rotate a tuple to the left by `n` positions-----

(3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [29]:
print("-----Rotate a tuple to the right by `n` positions-----")
print()
t1 = (1,2,3,4,5,6)

def rotate_to_right(t1, position):
    if len(t1) == 0:
        return t1
    tuple1 = t1[:-position]
    tuple2 = t1[-position:]
    return tuple2 + tuple1

res = rotate_to_right(t1,2)
print(res)

-----Rotate a tuple to the right by `n` positions-----

(5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers

In [30]:
print("-----Create a tuple of the first 5 Fibonacci numbers-----")
print()
t1 = (1,2,3,4,5,6)

def fibonacci_number(n):
    fib = [0,1]
    while len(fib) < n:
        fib_number = fib[-1]+fib[-2]
        fib.append(fib_number)
    return tuple(fib)

res = fibonacci_number(5)
print(res)

-----Create a tuple of the first 5 Fibonacci numbers-----

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [31]:
print("-----Create a tuple from user input.-----")
print()
t1 = (1,2,3,4,5,6)

def create_tupe():
    number_of_tuples = int(input("How many tuples you want? : "))
    my_list = []
    for i in range(number_of_tuples):
        number = int(input("Enter a number : "))
        my_list.append(number)

    return (tuple(my_list))

res =create_tupe()
print(res)

-----Create a tuple from user input.-----

How many tuples you want? :  5
Enter a number :  80
Enter a number :  44
Enter a number :  61
Enter a number :  25
Enter a number :  33

(80, 44, 61, 25, 33)

43. Swap two elements in a tuple.

In [33]:
print("-----Swap two elements in a tuple.-----")
print()
t1 = (1,2,3,4,5,6)

def swap_elements(t, pos1, pos2):
    if type(t)==tuple:
        t = list(t)

    val1 = t[pos1]
    val2 = t[pos2]

    t[pos1] = val2
    t[pos2] = val1

    return tuple(t)

res = swap_elements(t1, 2,5)
print(f"Before swap : {t1}")
print(f"After swap : {res}")

-----Swap two elements in a tuple.-----

Before swap : (1, 2, 3, 4, 5, 6)
After swap : (1, 2, 6, 4, 5, 3)

44. Reverse the elements of a tuple

In [34]:
print("-----Reverse the elements of a tuple-----")
print()
t1 = (1,2,3,4,5,6)

def reverse_elem(t):
    return t[::-1]

res = reverse_elem(t1)
print(res)

-----Reverse the elements of a tuple-----

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2

In [35]:
print("-----Create a tuple of the first n powers of 2-----")
print()
def n_powers(n):
    res = [2**i for i in range(n)]
    return tuple(res)
res = n_powers(10)
print(res)

-----Create a tuple of the first n powers of 2-----

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

46. Find the longest string in a tuple of strings.

In [36]:
print("-----Find the longest string in a tuple of strings.-----")
print()
def find_longest_string(t1):
    long_string = ""
    for i in t1:
        if len(long_string) < len(i):
            long_string = i

    return long_string

tuple1 = ("Sayan", "Gopal", "Avijit", "Sayantan", "Nitesh")
res = find_longest_string(tuple1)
print(res)

-----Find the longest string in a tuple of strings.-----

Sayantan

47. Find the shortest string in a tuple of strings.

In [37]:
print("-----Find the shortest string in a tuple of strings.-----")
print()
def find_shortest_string(t1):
    short_string = t1[0]
    for i in t1:
        if len(short_string) > len(i):
            short_string = i

    return short_string

tuple1 = ("Sayann", "Gopal", "Avijit", "Sayantan", "Nitesh")
res = find_shortest_string(tuple1)
print(res)

-----Find the shortest string in a tuple of strings.-----

Gopal

49. Check if a tuple contains another tuple as a subsequence

In [39]:
print("-----Check if a tuple contains another tuple as a subsequence.-----")
print()
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

-----Check if a tuple contains another tuple as a subsequence.-----

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`

In [40]:
print("-----Create a tuple of alternating 1s and 0s of length `n`.-----")
print()

def create_tuple(n):
    my_list = [i%2 for i in range(n)]
    return tuple(my_list)

res = create_tuple(10)
print(res)

-----Create a tuple of alternating 1s and 0s of length `n`.-----

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [41]:
print("-----Create a set with integers from 1 to 5.-----")
print()

def create_set(n):
    my_list = [i for i in range(n)]
    return set(my_list)
res = create_set(6)
print(res)

-----Create a set with integers from 1 to 5.-----

{0, 1, 2, 3, 4, 5}

2. Add an element to a set.

In [42]:
print("-----Add an element to a set.-----")
print()


set1 = {0, 1, 2, 3, 4, 5}
set1.add(6)
print(set1)

-----Add an element to a set.-----

{0, 1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [45]:
print("-----Remove an element from a set.-----")
print()

set1 = {0, 1, 2, 3, 4, 5}
set1.pop()
print(set1)

-----Remove an element from a set.-----

{1, 2, 3, 4, 5}

4. Check if an element exists in a set

In [47]:
print("-----Check if an element exists in a set-----")
print()

set1 = {1,2,3,4,56}
def check_elem(set1,elem):
    if elem in set1:
        return "Element is exist"
    else:
        return "Element is not exist"

res=check_elem(set1,56)
print(res)

-----Check if an element exists in a set-----

Element is exist

5. Find the length of a set without using the `len()` function.

In [48]:
print("-----Find the length of a set without using the `len()` function.-----")
print()

def check_length(set):
    count =0
    for i in set:
        count +=1
    return f"Length of given set is {count}"

res = check_length({1,2,3,4,5,6,7,8,9})
print(res)

-----Find the length of a set without using the `len()` function.-----

Length of given set is 9

6. Clear all elements from a set.

In [51]:
print("-----Find the length of a set without using the `len()` function.-----")
print()

def clear_all_elem(set1):
    set1.clear()
    return set1

set1 = {1,2,3,4}
res = clear_all_elem(set1)
print(res)

-----Find the length of a set without using the `len()` function.-----

set()

7. Create a set of even numbers from 1 to 10.

In [52]:
print("-----Create a set of even numbers from 1 to 10.-----")
print()

def even_number_set(n):
    l = [i for i in range(n) if i%2==0]
    return set(l)

res = even_number_set(11)
print(res)

-----Create a set of even numbers from 1 to 10.-----

{0, 2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [54]:
print("-----Create a set of odd numbers from 1 to 10.-----")
print()

def odd_number_set(n):
    l = [i for i in range(n) if i%2!=0]
    return set(l)

res = odd_number_set(11)
print(res)

-----Create a set of odd numbers from 1 to 10.-----

{1, 3, 5, 7, 9}

10. Find the intersection of two sets.

In [56]:
print("-----Find the union of two sets.-----")
print()

def union_of_sets(set1,set2):
    union = set1.union(set2)
    return union

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
res = union_of_sets(s1,s2)
print(res)

-----Find the union of two sets.-----

{1, 2, 3, 4, 5, 6, 7}

10. Find the intersection of two sets.

In [57]:
print("-----Find the intersection of two sets.-----")
print()

def intersection_of_sets(set1,set2):
    intersection = set1.intersection(set2)
    return intersection

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
res = intersection_of_sets(s1,s2)
print(res)

-----Find the intersection of two sets.-----

{3, 4, 5}

11. Find the difference between two sets.

In [58]:
print("-----Find the difference between two sets.-----")
print()

def difference_of_sets(set1,set2):
    difference = set1.difference(set2)
    return difference

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
res = difference_of_sets(s1,s2)
print(res)

-----Find the difference between two sets.-----

{1, 2}

12. Check if a set is a subset of another set.

In [59]:
print("-----Check if a set is a subset of another set.-----")
print()

def issubset_of_sets(set1,set2):
    subset = set1.issubset(set2)
    return subset

s1 = {1,2,3}
s2 = {1,2,3,4,5}
res = issubset_of_sets(s1,s2)
print(res)

-----Check if a set is a subset of another set.-----

True

13. Check if a set is a superset of another set.

In [60]:
print("-----Check if a set is a superset of another set.-----")
print()

def issuperset_of_sets(set1,set2):
    superset = set1.issuperset(set2)
    return superset

s1 = {1,2,3,4,5}
s2 = {1,2,3}
res = issuperset_of_sets(s1,s2)
print(res)

-----Check if a set is a superset of another set.-----

True

14. Create a set from a list.

In [61]:
print("-----Create a set from a list.-----")
print()

def set_from_list(list1):
    return set(list1)

l1 = [1,2,3,4,5]
res = set_from_list(l1)
print(res)

-----Create a set from a list.-----

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [63]:
print("-----Convert a set to a list.-----")
print()

def convert_set_to_list(set1):
    return list(set1)

s1 = {1,2,3,4,5}
res = convert_set_to_list(s1)
print(res)

-----Convert a set to a list.-----

[1, 2, 3, 4, 5]

16. Remove a random element from a set

In [67]:
print("-----Remove a random element from a set.-----")
print()

s1 = {1,2,3,4,5}
s1.remove(3)
print(s1)

-----Remove a random element from a set.-----

{1, 2, 4, 5}

17. Pop an element from a set.

In [70]:
print("-----Pop an element from a set.-----")
print()

s1 = {1,2,3,4,5}
s1.pop()
print(s1)

-----Pop an element from a set.-----

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [71]:
print("-----Check if two sets have no elements in common.-----")
print()

set1 = {1,2,3,4}
set2 = {5,6,7,8}
def check_no_common_elem(set1,set2):
    if set1.isdisjoint(set2):
        return "Two sets have no common element"
    else:
        return "Two sets have common element"

res = check_no_common_elem(set1,set2)
print(res)

-----Check if two sets have no elements in common.-----

Two sets have no common element

19. Find the symmetric difference between two sets.

In [72]:
print("-----Find the symmetric difference between two sets.-----")
print()

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_diff = set1.symmetric_difference(set2)

print(symmetric_diff)

-----Find the symmetric difference between two sets.-----

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [101]:
print("-----Update a set with elements from another set.-----")
print()

set1 = {1, 2, 3}
set2 = {3, 4, 5}

def update_set(set1,set2):
    set1.update(set2)
    return set1

res = update_set(set1,set2)
print(res)

-----Update a set with elements from another set.-----

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [104]:
print("-----Create a set of the first 5 prime numbers.-----")
print()
def is_prime_number(num):
    if num <2:
        return False
    else:
        for i in range(2, int(num**0.5)+1):
            if num%i == 0:
                return False
        return True

num = 0
prime_sets = set()
while len(prime_sets)<5:
    if is_prime_number(num):
        prime_sets.add(num)
    num+=1

print(prime_sets)

-----Create a set of the first 5 prime numbers.-----

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [105]:
print("-----Check if two sets are identical.-----")
print()
def check_two_sets(set1,set2):
    if set1==set2:
        return f"Two sets are identical"
    else:
        return f"Two sets are not identical"


set1 = {1, 2, 3}
set2 = {3, 2, 1,4}
res = check_two_sets(set1,set2)
print(res)

-----Check if two sets are identical.-----

Two sets are not identical

23. Create a frozen set.

In [107]:
print("-----Create a frozen set.-----")
print()
frozen_set = frozenset([1, 2, 3, 4, 5])

print(frozen_set)

-----Create a frozen set.-----

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [109]:
print("-----Check if a set is disjoint with another set.-----")
print()
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint using the isdisjoint() method
if set1.isdisjoint(set2):
    print("The sets are disjoint (they have no elements in common).")
else:
    print("The sets are not disjoint (they have some elements in common).")

-----Check if a set is disjoint with another set.-----

The sets are disjoint (they have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [110]:
print("-----Create a set of squares of numbers from 1 to 5.-----")
print()
def set_of_square(n):
    new_set = set()
    for i in range(1,n+1):
        new_set.add(i**2)
    return new_set

res = set_of_square(5)
print(res)

-----Create a set of squares of numbers from 1 to 5.-----

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [111]:
print("-----Filter out all even numbers from a set.-----")
print()

set1 = {1,2,3,4,5,6,7,8,9}
def even_number_set(set1):
    new_set = set()
    for i in set1:
        if i % 2 == 0:
            new_set.add(i)
    return (new_set)
res = even_number_set(set1)
print(res)

-----Filter out all even numbers from a set.-----

{8, 2, 4, 6}

27. Multiply all elements in a set by 2.

In [112]:
print("-----Multiply all elements in a set by 2.-----")
print()

set1 = {1,2,3,4,5,6,7,8,9}
def multiply_by_2(set1):
    new_set = set()
    for i in set1:
        new_set.add(i*2)
    return new_set

res = multiply_by_2(set1)
print(res)

-----Multiply all elements in a set by 2.-----

{2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [167]:
print("-----Create a set of random numbers.-----")
print()
import  random
def random_set(n):
    new_set = set()
    for _ in range(n):  
        random_number = random.randint(1, 100)
        new_set.add(random_number)
    return new_set
    # print(new_set)

res = random_set(5)
print(res)

-----Create a set of random numbers.-----

{98, 40, 47, 49, 92}

29. Check if a set is empty

In [148]:
print("-----Check if a set is empty-----")
print()
set1 = {}
def check_empty(set1):
    if len(set1) == 0:
        return f"Given set is empty"
    else:
        return f"Given set is not empty"
res = check_empty(set1)
print(res)

-----Check if a set is empty-----

Given set is empty

30. Create a nested set (hint: use frozenset)

In [171]:
print("-----Create a nested set (hint: use frozenset)-----")
print()
nested_set = set([
    frozenset([1, 2]),
    frozenset([3, 4]),
    frozenset([5, 6])
])

# Display the nested set
print(nested_set)

-----Create a nested set (hint: use frozenset)-----

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [176]:
print("-----Remove an element from a set using the discard method.-----")
print()
set1 = {1,2,3,4,5,6,7,8,9}
set1.discard(2)
set1

-----Remove an element from a set using the discard method.-----

{1, 3, 4, 5, 6, 7, 8, 9}

32. Compare two sets.

In [178]:
print("-----Compare two sets.-----")
print()
set1 = {1, 2, 3}
set2 = {3, 2, 1}

def compare_set(s1,s2):
    if s1==s2:
        return f"Both sets are same"
    else:
        return f"Both sets are not same"
res = compare_set(set1, set2)
print(res)

-----Compare two sets.-----

Both sets are same

33. Create a set from a string.

In [200]:
print("-----Create a set from a string.-----")
print()
def set_from_a_string(string):
    new_set = set()
    for i in string:
        new_set.add(i)
    return new_set
res = set_from_a_string("India")
print(res)

-----Create a set from a string.-----

{'n', 'd', 'a', 'i', 'I'}

34. Convert a set of strings to a set of integers.

In [202]:
print("-----Create a set from a string.-----")
print()
set1 = {"1","2","3","4","5"}
def convert_set_of_str_to_int(set1):
    new_set = set()
    for i in set1:
        new_set.add(int(i))
    return new_set
res = convert_set_of_str_to_int(set1)
print(res)

-----Create a set from a string.-----

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [204]:
print("-----Create a set from a string.-----")
print()
set1 = {1, 2, 3, 4, 5}
def convert_set_of_int_to_str(set1):
    new_set = set()
    for i in set1:
        new_set.add(str(i))
    return new_set
res = convert_set_of_int_to_str(set1)
print(res)

-----Create a set from a string.-----

{'2', '3', '1', '5', '4'}

36. Create a set from a tuple.

In [206]:
print("-----Create a set from a tuple.-----")
print()
t1 = (1,2,3,4,5,6,7)
def set_from_tuple(tuple1):
    return set(tuple1)
res = set_from_tuple(t1)
print(res)

-----Create a set from a tuple.-----

{1, 2, 3, 4, 5, 6, 7}

37. Convert a set to a tuple.

In [208]:
print("-----Convert a set to a tuple.-----")
print()
set1={1,2,3,4,5,6,7,8}
def tuple_from_set(set1):
    return tuple(set1)
res = tuple_from_set(set1)
print(res)

-----Convert a set to a tuple.-----

(1, 2, 3, 4, 5, 6, 7, 8)

38. Find the maximum value in a set.

In [210]:
print("-----Find the maximum value in a set.-----")
print()
set1={1,2,3,4,5,6,7,8}
def find_max_int_set(set1):
    max_value = max(set1)
    return f"Max value in the given set is {max_value}"
res = find_max_int_set(set1)
print(res)

-----Find the maximum value in a set.-----

Max value in the given set is 8

39. Find the minimum value in a set.

In [212]:
print("-----Find the minimum value in a set.-----")
print()
set1={100,2,3,4,5,6,7,8}
def find_min_in_set(set1):
    min_value = min(set1)
    return f"Min value in the given set is {min_value}"
res = find_min_in_set(set1)
print(res)

-----Find the minimum value in a set.-----

Min value in the given set is 2

40. Create a set from user input.

In [215]:
print("-----Create a set from user input-----")
print()
def create_set_from_user():
    num = int(input("How many number you want in your set? "))
    new_set = set()
    for i in range(num):
        user_number = int(input("Enter your set element: "))
        new_set.add(user_number)
    return f"Your set is : {new_set}"
res = create_set_from_user()
print(res)

-----Create a set from user input-----

How many number you want in your set?  5
Enter your set element:  10
Enter your set element:  909
Enter your set element:  81
Enter your set element:  782
Enter your set element:  9292

Your set is : {10, 9292, 909, 782, 81}

41. Check if the intersection of two sets is empty

In [217]:
print("-----Check if the intersection of two sets is empty-----")
print()
set1 = {1,2,3,4,5,6}
set2 = {7,8,9}
def check_intersection_is_empty(s1,s2):
    intersection_set = s1.intersection(s2)
    if len(intersection_set)==0:
        return f"Intersection of two sets are empty"
    else:
        return f"Intersection of two sets are not empty"

res = check_intersection_is_empty(set1,set2)
print(res)

-----Check if the intersection of two sets is empty-----

Intersection of two sets are empty

42. Create a set of the first 5 Fibonacci numbers.

In [218]:
print("-----Create a set of the first 5 Fibonacci numbers.-----")
print()
def generate_fib_number(n):
    if n<=0:
        return 0
    elif n==1:
        return 1
    else:
        return generate_fib_number(n-1)+generate_fib_number(n-2)


def gen_set_of_fib_number(n):
    new_set = set()
    for i in range(n+1):
        new_set.add(generate_fib_number(i))
    return new_set

res = gen_set_of_fib_number(5)
print(res)

-----Create a set of the first 5 Fibonacci numbers.-----

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets

In [220]:
print("-----Remove duplicates from a list using sets.-----")
print()
list1 = [1,1,11,21,21,32,3,3,4,734,33,2]
def remove_duplicate(l1):
    remove_duplicate = set(l1)
    return list(remove_duplicate)
res = remove_duplicate(list1)
print(res)

-----Remove duplicates from a list using sets.-----

[32, 1, 33, 3, 4, 2, 11, 21, 734]

44. Check if two sets have the same elements, regardless of their count.

In [1]:
print("-----Check if two sets have the same elements, regardless of their count.-----")
print()
def check_two_sets(set1,set2):
    if set1==set2:
        return f"Two sets has same element"
    else:
        return f"Two sets has not same element"


set1 = {1, 2, 3}
set2 = {3, 2, 1,4}
res = check_two_sets(set1,set2)
print(res)

-----Check if two sets have the same elements, regardless of their count.-----

Two sets has not same element

45. Create a set of the first `n` powers of 2.

In [2]:
print("-----Create a set of the first n powers of 2.-----")
print()
def n_powers_2(n):
    new_set = set()
    for i in range(n+1):
        new_set.add(2**i)
    return new_set
res = n_powers_2(5)
print(res)

-----Create a set of the first n powers of 2.-----

{32, 1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [3]:
print("-----Find the common elements between a set and a list.-----")
print()
set1 = {1,2,3,4,5,6,7}
list1 = [4,5,6,7,8,9,12]
def check_common_elem(s1,l1):
    l1 = set(l1)
    common_elem = s1.intersection(l1)
    return common_elem
res = check_common_elem(set1, list1)
print(res)

-----Find the common elements between a set and a list.-----

{4, 5, 6, 7}

47. Create a set of the first `n` triangular numbers.

In [4]:
print("-----Create a set of the first n triangular numbers..-----")
print()
def set_of_triangular_num(n):
    new_set = set()
    for i in range(1,n+1):
        triangular_number = (i*(i+1))//2 # // operator returns integer instead of floating number
        new_set.add(triangular_number)
    return new_set

res = set_of_triangular_num(10)
print(res)

-----Create a set of the first n triangular numbers..-----

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [6]:
print("-----Check if a set contains another set as a subset.-----")
print()
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

def check_is_subset(s1,s2):
    if s2.issubset(s1):
        return f"{set1} is containing {s2} as a subset"
    else:
        return f"{set1} is not containing {s2} as a subset"
res = check_is_subset(set1,set2)
print(res)

-----Check if a set contains another set as a subset.-----

{1, 2, 3, 4, 5} is containing {2, 3} as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [8]:
print("-----Create a set of alternating 1s and 0s of length n.-----")
print()
def create_set_of_1_and_0(n):
    new_set = set()
    for i in range(n+1):
        if i%2==0:
            new_set.add(0)
        else:
            new_set.add(1)
    return new_set

res = create_set_of_1_and_0(10)
print(res)

-----Create a set of alternating 1s and 0s of length n.-----

{0, 1}

50. Merge multiple sets into one.

In [10]:
print("-----Merge multiple sets into one.-----")
print()
set1 = {12,3,4,5}
set2 = {1,242,2,32}
set3 = {8,90,99,45}

# using set union method we can marge multiples sets
new_set = set1.union(set2,set3)
print(new_set)

-----Merge multiple sets into one.-----

{32, 1, 2, 3, 4, 5, 99, 8, 12, 45, 242, 90}